# VCV Rack
/*/build
/*/dist
/*/dep

# Mac
*.DS_Store


# VS Code
*.vscode

# Ignored graphics
*.afdesign
*-dont-use.svg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
